@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

body {
  margin: 0;
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./Image/bg.jpg");
  height: 1000px;

 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
